<!DOCTYPE html>
<html lang="ko">
<head>
     <meta charset="UTF-8">
     <title>Level 5 Form</title>
</head>
<body>
    <h1> Level 5: 폼 제출 후 새로운 페이지로 리디렉션 </h1>
<form action="/process-redirect" method="POST">
  <input type="text" name="message" placeholder="메시지">
  <button type="submit">제출</button>
</form>

</body>
</html>
 
 
 
 
 
 
