<!DOCTYPE html>
<html lang="ko">
<head>
     <meta charset="UTF-8">
     <title>Level 2 Form</title>
</head>
<body>
    <h1> Level 2: POST 요청 처리 (urlencoded 미들웨어 사용) </h1>
	<form action="/submit-post" method="POST">
	  <input type="text" name="username">
	  <button type="submit">제출</button>
	</form>
</body>
</html>
 
 
 
 
 
 
 
 
