<!DOCTYPE html>
<html lang="ko">
<head>
     <meta charset="UTF-8">
     <title>Level 6 Form</title>
</head>
<body>
    <h1> Level 6: EJS 템플릿 엔진을 사용해 폼 데이터 렌더링 </h1>
    <h1>게시글 작성</h1>
    <form action="/post-article" method="POST">
      제목: <input type="text" name="title"><br>
      내용: <textarea name="content"></textarea><br>
      <button type="submit">작성</button>
    </form>
</body>
</html>
 
 
 
 
 
 
