<!DOCTYPE html>
<html lang="ko">
<head>
     <meta charset="UTF-8">
     <title>Level 7 Form</title>
</head>
<body>
    <h1> Level 7: 단일 파일 업로드 처리 </h1>
    <form action="/upload-single" method="POST" enctype="multipart/form-data">
      <input type="file" name="singleFile">
      <button type="submit">업로드</button>
    </form>
</body>
</html>
 
 

 
 
 
 
