
<%- include('partials/header') %>

<div class="container mt-5">
  <h1 class="mb-4">마케팅 & 홍보 전략</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">1. 온라인 마케팅</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">SNS(인스타그램, 유튜브) 콘텐츠 마케팅</li>
            <li class="list-group-item">푸드 크리에이터 콜라보</li>
            <li class="list-group-item">자체 브랜드몰 운영 (네이버 스마트스토어 등)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">2. 오프라인 홍보</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">팝업스토어 운영 (백화점, 플리마켓)</li>
            <li class="list-group-item">계절별 한정 이벤트 아이템 출시</li>
            <li class="list-group-item">지역 행사 / 학교 급식 납품 연계</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">3. 브랜드 캠페인</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">“나의 첫 아이스크림” 공모전</li>
            <li class="list-group-item">어린이 고객 대상 무료 시식행사</li>
            <li class="list-group-item">친환경 포장 캠페인 진행</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
