
<%- include('partials/header') %>

<div class="container mt-5">
  <h1 class="mb-4">앞으로의 비전과 글로벌 진출</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">단기 목표 (2025년까지)</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">오프라인 매장 3개 오픈</li>
            <li class="list-group-item">자사몰 월매출 5천만 원 달성</li>
            <li class="list-group-item">키즈라인 제품 추가 런칭</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">중장기 비전 (2030년까지)</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">동남아시아 시장 진출 (홍콩, 태국, 베트남)</li>
            <li class="list-group-item">유럽 내 수출 계약 체결</li>
            <li class="list-group-item">‘글로벌 스위트 브랜드’로 성장</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-5">지속가능성 전략</h2>
  <ul class="list-group">
    <li class="list-group-item">🌱 친환경 포장 비중 80% 이상 확대</li>
    <li class="list-group-item">🍃 비건/로우슈거 제품군 확대 예정</li>
    <li class="list-group-item">🤝 지역 농가와의 상생 협약 체결</li>
  </ul>
</div>

<%- include('partials/footer') %>
